.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 25px;
    color: black;
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
}

.sidebar.show {
    transform: translateX(0);
    backdrop-filter: blur(2px);
    height: auto;
    width: 250px;
    border-radius: 10px;
    margin-right: 0;
}

.menu-toggle-button {
    position: fixed;
    top: 20px;
    left: 20px;
    color: black;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1000;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
}

.sidebar-menu ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}

.sidebar-menu li {
    margin-bottom: 20px;
    width: 100%;
}

.sidebar-menu a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: color 0.3s;
    display: block;
    width: 100%;
    padding: 0px 0;
    text-align: left;
}

.sidebar-menu a:hover {
    color: #F28E2B; 
}