body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.home-container {
  display: flex;
  min-height: 100vh;
  background-color: #f0f0f0;
  /* padding: 20px; */
  flex-direction: row-reverse; /* Added to reverse the order of the sections */
}

.image-section, .text-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin: 0; /* Removed margins */
}

.text-section {
  text-align: center;
}

.text-section h1 {
  font-size: 2.5rem;
  margin: 20px 80px;
  text-align: center;
}

.text-section p {
  font-size: 1.2rem;
  margin: 30px 100px;
}

.text-section button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.text-section button:hover {
  background-color: #0056b3;
}